{% extends "base.html" %}

{% block content %}
    <style>
        .holder {
            display: flex;
            justify-content:center;
        }
        .home-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 0.8rem 1.4rem;

    background: #1e90ff;
    color: white;

    border-radius: 999px;

    text-decoration: none;
    font-weight: 700;
    font-size: 1rem;

    box-shadow:
        0 4px 10px rgba(30, 144, 255, 0.25);

    transition:
        background 0.2s ease,
        transform 0.15s ease,
        box-shadow 0.2s ease;
}

.home-btn:hover {
    background: #1877db;
    transform: translateY(-2px);

    box-shadow:
        0 6px 14px rgba(30, 144, 255, 0.35);
}

.home-btn:active {
   
    transform: translateY(0);
}
.holder-2 {
   display:flex;
   flex-direction:column;
   align-items:center;
   justify-content:center;
}
    </style>
    <div class="holder">
        <div class="holder-2">
            <h3>Your account has been created</h3>
            <a href="/" class="home-btn">Home</a>
       </div>
    </div>
{% endblock %}
